@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-text {
  background-color: red;
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 4s linear infinite;
  left: 0;
  top: 0;
  transform: translateX(0);
}

.scrolling-text-container {
  background-color: blue;
  position: relative;
  max-width: 125px;
  overflow: hidden;
  cursor: pointer;
}
